@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Righteous&display=swap");
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #0f3e3e;
}

.header p {
  font-family: "Indie Flower", cursive;
  font-size: 30px;
  margin: 10px;
  color: white;
}

@media (max-width: 650px) {
  .header p {
    font-size: 25px;
    margin: 5px;
  }
}

@media (max-width: 650px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0;
}

.productsContainer {
  width: 90%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-column-gap: 40px;
          column-gap: 40px;
  row-gap: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 650px) {
  .productsContainer {
    -ms-grid-columns: (minmax(220px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    row-gap: 20px;
    -webkit-column-gap: 20px;
            column-gap: 20px;
  }
}

.productsContainer .productTile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  border-radius: 10px;
  padding: 20px;
  background: #c2f0f0;
  -webkit-box-shadow: 5px 5px 8px #7f8080;
  box-shadow: 5px 5px 8px #6d7878;
}

.productsContainer .productTile h2 {
  font-size: 20px;
  margin: 0 0 20px 0;
  color: #0f3e3e;
}

@media (max-width: 650px) {
  .productsContainer .productTile h2 {
    font-size: 15px;
    margin: 0 0 10px 0;
  }
}

.productsContainer .productTile p {
  text-align: justify;
  font-size: 15px;
  margin: 5px 0;
  color: #0f3e3e;
}

@media (max-width: 650px) {
  .productsContainer .productTile p {
    font-size: 12px;
  }
}

.productsContainer .productTile .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.productSort {
  padding: 10px 15px 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.productSort .groupChange {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 650px) {
  .productSort .groupChange {
    font-size: 15px;
  }
}

.productSort button {
  cursor: pointer;
}

@media (max-width: 650px) {
  .productSort {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .productSort .sort {
    padding-bottom: 5px;
    font-size: 15px;
  }
}

.App .keyTitle {
  background: #c2f0f0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  font-family: "Righteous", cursive;
}

.App .margin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 60px 0;
}

@media (max-width: 650px) {
  .App .margin {
    margin: 85px 0 40px 0;
  }
}

.App .productGroup {
  width: 100%;
  margin-bottom: 15px;
}

.App h1 {
  font-family: "Righteous", cursive;
  color: #0f3e3e;
}

@media (max-width: 650px) {
  .App h1 {
    font-size: 25px;
  }
}

.loading {
  margin-top: 100px;
  font-size: 30px;
  color: red;
  text-align: center;
}
/*# sourceMappingURL=styles.css.map */