@mixin flex-row() {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin flex-column() {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  @include flex-row();
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  box-sizing: border-box;
  background: rgb(169, 169, 235);
}

.products {
  @include flex-column();
  width: 100%;
  margin: 0;
}
.productsContainer {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 350px);
  grid-template-rows: auto;
  column-gap: 40px;
  row-gap: 40px;
  box-sizing: border-box;

  .productTile {
    @include flex-column();
    justify-self: center;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid black;
    padding: 20px;
    h2 {
      font-size: 20px;
      margin: 0 0 20px 0;
    }
    p {
      text-align: justify;
      font-size: 15px;
      margin: 5px 0;
    }
    .row {
      @include flex-row();
      justify-content: space-between;
      width: 100%;
    }
  }
}

.productSort {
  padding: 10px;
  @include flex-row();
  width: 90%;
  justify-content: space-between;

  .groupChange {
    @include flex-row();
    p {
      padding-right: 5px;
    }
  }
}

.App {
  .keyTitle {
    background: pink;
    width: 100%;
    text-align: center;
  }

  .margin {
    @include flex-column();
    width: 100%;
    margin: 60px 0;
  }
  .productGroup {
    width: 100%;
  }
}
