@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Righteous&display=swap");

$main-colour: #8383e2;
$secondary-colour: #eaeafa;

@mixin flex-row() {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin flex-column() {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  @include flex-row();
  justify-content: space-between;
  padding: 0 10px;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  box-sizing: border-box;
  background: $main-colour;

  p {
    font-family: "Indie Flower", cursive;
    font-size: 30px;
    margin: 10px;
  }
}

.products {
  @include flex-column();
  width: 100%;
  margin: 0;
}
.productsContainer {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 350px);
  grid-template-rows: auto;
  column-gap: 40px;
  row-gap: 40px;
  box-sizing: border-box;

  .productTile {
    @include flex-column();
    justify-self: center;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid $main-colour;
    border-radius: 10px;
    padding: 20px;
    background: $secondary-colour;
    -moz-box-shadow: 5px 5px 8px #808080;
    -webkit-box-shadow: 5px 5px 8px #808080;
    box-shadow: 5px 5px 8px #808080;
    h2 {
      font-size: 20px;
      margin: 0 0 20px 0;
    }
    p {
      text-align: justify;
      font-size: 15px;
      margin: 5px 0;
    }
    .row {
      @include flex-row();
      justify-content: space-between;
      width: 100%;
    }
  }
}

.productSort {
  padding: 10px 15px 20px 10px;
  @include flex-row();
  width: 90%;
  justify-content: space-between;

  .groupChange {
    @include flex-row();
    p {
      padding-right: 5px;
    }
  }
  button {
    cursor: pointer;
  }
}

.App {
  .keyTitle {
    background: $secondary-colour;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-family: "Righteous", cursive;
  }

  .margin {
    @include flex-column();
    width: 100%;
    margin: 60px 0;
  }
  .productGroup {
    width: 100%;
    margin-bottom: 15px;
  }
  h1 {
    font-family: "Righteous", cursive;
  }
}
.loading {
  margin-top: 100px;
  font-size: 30px;
  color: red;
  text-align: center;
}
